* {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-bottom: 0;
}

@media print {
    @page {
      margin: 0;
    }
  
    html {
      margin: 0pt;
      padding: 0pt;
    }
  
    body {
      border: none;
    }
  }

body {
  margin: auto;
  margin-top: 0pt;
  margin-bottom: 5pt;
  padding: 10pt; 
  padding-top: 5pt;
  width: 8.5in;
  height: 11in;
  border: black solid 1pt;
  box-sizing: border-box;
}

#header {
  padding-bottom: 5pt;
}

#headerTable{
  table-layout: fixed;
  width: 100%;
}

#headerTable td {
  text-align: center;
  width: 33%;
}


.sectionHeader {
  color: #4287f5;
  border-bottom: black 1pt solid;
}

.subsectionHeader {
  color:black;
}

.dateColumn {
  white-space: nowrap;
  display:flex;
  float: right;
}

.dateColumn br {
  white-space: nowrap;
  display:flex;
  float: right;
}

.link {
  color: black;
  text-decoration: none;
}